.navbar-lewagon {
  justify-content: space-between;
  background: rgb(34, 34, 34);
  color: whitesmoke;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin: 0 15px;
}
